.side_bar
  .side_bar__header
    %ul
      %li.login-name
        %h1
          = current_user.name
      %li.icon
        = link_to "./" do
          %i.fa.fa-cog
      %li.icon
        = link_to edit_user_path(current_user) do
          %i.fa.fa-edit
  .side_bar__body
    %ul
      %li.group__h2
        %h2 group name
        %p new message
